<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title th:text="${user.id == null} ? 'Добавить пользователя' : 'Изменить'">Title</title>
</head>
<body>
<h2 th:text="${user.id == null} ? 'Добавить нового пользователя' : 'Изменить'">Новый пользователь</h2>
<form th:action="@{/users/save}" th:object="${user}" method="POST" accept-charset="UTF-8">
    <input type="hidden" th:field="*{id}"/>
    <div class="form-group">
        <label for="name">Имя:</label>
        <input type="text" th:field="*{name}" id="name" placeholder="Имя" required />
    </div>
    <div class="form-group">
        <label for="lastName">Фамилия:</label>
        <input type="text" th:field="*{lastName}" id="lastName" placeholder="Фамилия" />
    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" th:field="*{email}" id="email" placeholder="Email" />
    </div>
    <button type="submit" class="btn btn-save">Сохранить</button>
    <a th:href="@{/users}" class="btn btn-cancel">Отмена</a>
</form>
</body>
</html>